/* basic web reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // => root font conversion
  font-size: 62.5%; // 1rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%;  // 1rem = 9px 9/16  & width = 1200px
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px 8/16  & width = 900px
  }

  @include respond(big-dekstop) {
    font-size: 75%; //1rem =12px 12/16  & width = 1800px
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;


  //=> media query
  @include respond(tab-port){
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

